@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.navbar {
  background-color: #f22323;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
    
}

.searchbar-container{
  align-self: center;
}

.searchbar-containerAlt{
  margin-right: 30px;
}

.logo:hover {
  cursor: pointer;
}

.logo-img {
  height: 100%;
}

.logo-text {
  font-family: "Orbitron";
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.menu-icon {
  color: white;
  font-size: 3rem;
}

.menu-icon:hover {
  cursor: pointer;
}

.new-project-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-links{
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2rem;
}

.new-project-btn{
  border-radius: 50%;
  border: 0;
}

.new-project-text{
  margin: 0;
  font-size: 1.05rem;
  color: white;
}

.search{
  height: 50%;
  margin: 0 10px 0 10px;
  font-size: 1rem;
}

.add-icon{
  color:white !important;
  width: 100%;
  height: 100%;
}