
.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    width: 80%;
    border-radius: 0.50rem;
}

.profile-pic {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    /* margin: 1rem; */
}

.large{
    width: 8rem!important;
    height: 8rem!important;
}